@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    color: white;
}

.credits {
    background-color: #2f4476;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


body {
    background-color: #18181b;
    margin: 0;
    padding: 0;
}